

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');




a:hover 
{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}



  

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
   
  * {box-sizing: border-box}
  
  body {
      font-family:Helvetica, sans-serif;
  }
  
  .sidebar {
      background:
      rgba(28, 28, 38, 0.7);
      color: #fff;
      box-shadow:
      0 8px 32px 0
      rgba(0, 0, 0, 0.37);
      backdrop-filter: blur(6px);
      border:
          1px solid rgba(255, 255, 255, 0.18);
          position: fixed;
          top: 0;
          left: 0;
          width: 15em;
          height: 100%;
          overflow-y: hidden;
  }
  
  .sidebar ::-webkit-scrollbar {
      width: 5px;
  }
  
  
  .sidebar ::-webkit-scrollbar-track {
      background: transparent;
  }
  
  .sidebar ::-webkit-scrollbar-thumb {
      background: #2a2f44;
      border-radius: 10px;
  }
  
  .sidebar > div {
      height: 100%;
      overflow-y: scroll;
      padding: 1.7em 1em 1.7em 1em;
  }
  
  
  .sidebar a {
      text-decoration: none;
  }
  
  
  .sidebar ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  
  
  .sidebar small {
      color: #ccc;
  }
  
  .brand {
      display: block;
      font-size: 1.5em;
      color: #fff;
      font-weight: 600;
  }
  
  
  .menu-heading {
      padding: 1em;
      margin: 2em 0 0 0.5em 0;
      display: block;
  
  }
  
  
  .sidebar ul {
      padding-bottom: 1.5em;
  }
  
  .sidebar li a {
      color: #ccc;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1em;
      border-radius: 0.8em;
      transition: 0.3s;
  }
  
  .tools li a:hover {
      background: #009fa7;
      color: #fff;
  }
  
  .sidebar ul .material-symbols-outlined {
      font-size: 1.6em;
      margin-right: 0.5em;
  }
  
  hr {
    background: linear-gradient(to right, transparent, #ccc, transparent);
    height: 4px;
    border: 0;
     width:75%;
  }
  
  .profile img {
    width: .5em;
    height: 2.5em;
    border-radius: 50%;
}

.profile {
    padding: 1.7em 4em 3.7em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  @media screen and (max-width: 800px) {
      .sidebar {
          width: 4.5em;
          font-size: 14px;
          text-align: center;
      }
      .sidebar > div {
          padding: 1.7em 0.2em 1.7em 0.3em;
      }
      .sidebar span:not(.material-symbols-outlined),
      .profile div, .profile span {
          display: none;
      }
  
      .menu-heading, .profile {
          margin-top: 0;
      }
      .profile {
        padding: 1.7em 4em 3.7em 0.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  }
  
 





  
  body {
    margin: 0;
}

.gallery {
    padding: 2em;
    min-height: 120vh;
}

.buttons {
    padding: 2em 0 6em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons button {
    margin: 1em;
    padding: 0.7em 1.5em;
    font-size: 1.1em;
    border: none;
    background: #111;
    color: #fff;
    border: 2px solid #111;
    border-radius: 0.2em;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover,
.buttons .btn-clicked {
    background: #009fa7;
    color: #111;
}

.images {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.images img {
    width: 25em;
    margin: 1em;
    border-radius: 0.2em;
    transition: 0.6s;
}

.images .img-expand {
    width: 25em;
    margin: 1em;
}

.images .img-shrink {
    width: 0em;
    margin: -1em;
}

@media screen and 
(max-width: 1439px) {
    .images {
        max-width: 896px;
    }
}

@media screen and 
(max-width: 968px) {
    .images {
        align-items: center;
        flex-direction: colum;
    }
    .images img {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media screen and 
(max-width: 600px) {
    .buttons button {
        width: 100%;
        display: block;
    }
    .images
    .img-expand
    .images img {
        width: 100%;
    }
}